*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.inputFields {
    display: flex;
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%,-50%);
}

input {
    font-size: 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    outline: none;
    border: 0;
    border-bottom: 2px white solid;
}

button {
    font-weight: 600;
    font-size: 1.5rem;
    height: 2.55rem;
    width: 60px;
    margin-left: 2%;
    border-radius:20% ;
    background-color: rgb(155, 144, 144);
    outline: none;
}

#logo {
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

#logo path:nth-child(1){
    stroke-dasharray: 490 ;
    stroke-dashoffset: 490 ;
    animation: line-anim 0.2s ease forwards ;
} 
#logo path:nth-child(2) {
    stroke-dasharray: 610  ;
    stroke-dashoffset: 610  ;
    animation: line-anim 0.2s ease forwards 0.3s;

} 
#logo path:nth-child(3) {
    stroke-dasharray:   508  ;
    stroke-dashoffset: 508 ;
    animation: line-anim 0.2s ease forwards 0.6s;
} 
#logo path:nth-child(4) {
    stroke-dasharray: 571 ;
    stroke-dashoffset: 571 ;
    animation: line-anim 0.2s ease forwards 0.9s;
} 
#logo path:nth-child(5) {
    stroke-dasharray: 463;
    stroke-dashoffset: 463 ;
    animation: line-anim 0.2s ease forwards 1.2s;
} 
#logo path:nth-child(6) {
    stroke-dasharray: 385 ;
    stroke-dashoffset: 385 ;
    animation: line-anim 0.2s ease forwards 1.5s;
} 
#logo path:nth-child(7) {
    stroke-dasharray: 635 ;
    stroke-dashoffset: 635 ;
    animation: line-anim 0.2s ease forwards 1.8s;
} 
#logo path:nth-child(8) {
    stroke-dasharray: 534;
    stroke-dashoffset: 534 ;
    animation: line-anim 0.2s ease forwards 2.1s;
} 
#logo path:nth-child(9) {
    stroke-dasharray: 226;
    stroke-dashoffset: 226 ;
    animation: line-anim 0.2s ease forwards 2.4s;
} 
#logo path:nth-child(10) {
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
    animation: line-anim 0.2s ease forwards 2.7s;
}
#logo path:nth-child(11) {
    stroke-dasharray: 512;
    stroke-dashoffset: 512;
    animation: line-anim 0.2s ease forwards 3s;
}
#logo path:nth-child(12) {
    stroke-dasharray: 297;
    stroke-dashoffset: 297 ;
    animation: line-anim 0.2s ease forwards 3.3s;
}
#logo path:nth-child(13) {
    stroke-dasharray: 754;
    stroke-dashoffset: 754;
    animation: line-anim 0.2s ease forwards 3.6s;
}
#logo path:nth-child(14) {
    stroke-dasharray: 604;
    stroke-dashoffset: 604;
    animation: line-anim 0.2s ease forwards 3.9s;
}
#logo path:nth-child(15) {
    stroke-dasharray: 565;
    stroke-dashoffset: 565;
    animation: line-anim 0.2s ease forwards 4.2s;
}
#logo path:nth-child(16) {
    stroke-dasharray: 449;
    stroke-dashoffset: 449;
    animation: line-anim 0.2s ease forwards 4.5s;
}
#logo path:nth-child(17) {
    stroke-dasharray: 634;
    stroke-dashoffset: 634;
    animation: line-anim 0.2s ease forwards 4.8s;
}
#logo path:nth-child(18) {
    stroke-dasharray: 549;
    stroke-dashoffset: 549 ;
    animation: line-anim 0.2s ease forwards 5.1s;
}
#logo path:nth-child(19) {
    stroke-dasharray: 493;
    stroke-dashoffset: 493 ;
    animation: line-anim 0.2s ease forwards 5.4s;
}
#logo path:nth-child(20) {
    stroke-dasharray: 336;
    stroke-dashoffset: 336 ;
    animation: line-anim 0.2s ease forwards 5.7s;
}
#logo path:nth-child(21) {
    stroke-dasharray: 483 ;
    stroke-dashoffset: 483 ;
    animation: line-anim 0.2s ease forwards 6.0s;
}
#logo path:nth-child(22) {
    stroke-dasharray: 441;
    stroke-dashoffset: 441 ;
    animation: line-anim 0.2s ease forwards 6.3s;
}
#logo path:nth-child(23) {
    stroke-dasharray: 801 ;
    stroke-dashoffset: 801 ;
    animation: line-anim 0.2s ease forwards 6.6s;
}
#logo path:nth-child(24) {
    stroke-dasharray: 477 ;
    stroke-dashoffset: 477 ;
    animation: line-anim 0.2s ease forwards 6.9s;
}
#logo path:nth-child(25) {
    stroke-dasharray: 372;
    stroke-dashoffset: 372 ;
    animation: line-anim 0.2s ease forwards 7.2s;
}
#logo path:nth-child(26) {
    stroke-dasharray: 453 ;
    stroke-dashoffset: 453 ;
    animation: line-anim 0.2s ease forwards 7.5s;
}


@keyframes line-anim {
    100%{
        stroke-dashoffset: 0;
    }
}